@font-face {
    font-family: 'getschwifty';
    src: url(../fonts/get_schwifty.ttf);
}
  
body{
    background-color: #200a32;
    font-family: 'Outfit', sans-serif;
}
.cardcontainer{
    width: 45%;
    margin: auto;
}

.cardcontainer h1{
    font-family: 'getschwifty','Outfit','sans-serif';
    text-align: center;
    color: #10b2c5;
}
.card{
    width: 50%;
    margin: auto;
    background-color: #1a0637;
    border-radius: 1.5rem;
    padding: 0.25%;
    color: white;
    box-shadow: -1px 5px 7px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 7px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 7px 2px rgba(0,0,0,0.75);
}

.card img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 5%;
    border-radius: 1.5rem;
}

.infolist {
    list-style: none;
    padding: 5%;
    display: flex;
    flex-flow: column;
    font-size: 1rem;
}

.infolist li{
    flex: 100%;
    margin-bottom: 0.5rem;
}
.genbtn{
    list-style: none;
    cursor: pointer;
    text-align: center;
    background-color: #03b34c;
    width: 7.5rem;
    margin: auto;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;    
    margin-top: 1rem;
}

.genbtn:hover{
    background-color: #00fb69;
}

@media (max-width: 768px) {
    .cardcontainer{
        width: 100%;
    }

    .infolist{
        font-size: 1rem;
    }
    
    .genbtn{
        font-size: 1rem;
    }
}